<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_01_Listado_clientes.Properties.Settings.CONTRATOConnectionString"
            connectionString="Data Source=LAPTOP-6CKP0UE0;Initial Catalog=CONTRATO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>